version: "3.9"

services:
  broker:
    image: eclipse-mosquitto
    container_name: broker
    ports:
      - "1883:1883"
    volumes:
      - ./event-broker/mosquitto.conf:/mosquitto/config/mosquitto.conf
    networks:
      - sentinel-net

  sentinel-monitor:
    build: ./sentinel-monitor
    container_name: sentinel-monitor
    depends_on:
      - broker
    environment:
      - MQTT_HOST=broker        # Nome del servizio nel compose
      - MQTT_PORT=1883
    network_mode: "host"        # Serve per accedere alle interfacce di rete locali

  sentinel-core:
    build: ./sentinel-core
    container_name: sentinel-core
    depends_on:
      - broker
    environment:
      - MQTT_HOST=broker
      - MQTT_PORT=1883
    networks:
      - sentinel-net

networks:
  sentinel-net:
    driver: bridge
