services:
  broker:
    image: eclipse-mosquitto
    container_name: broker
    #network_mode: host
    volumes:
      - ./event-broker/mosquitto.conf:/mosquitto/config/mosquitto.conf
    networks:
      - sentinel-net

  sentinel-monitor:
    build: ./sentinel-monitor
    container_name: sentinel-monitor
    network_mode: host
    privileged: true # Necessario per l'accesso alle interfacce di rete
    environment:
      - MQTT_HOST=172.18.0.3 # indirizzo del broker nella rete docker che potrebbe cambiare sempre
      - MQTT_PORT=1883
    depends_on:
      - broker
    volumes:
      - /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket # Necessario per l'uso di NetworkManager

  sentinel-core:
    build: ./sentinel-core
    container_name: sentinel-core
    #network_mode: host
    environment:
      - MQTT_HOST=broker
      - MQTT_PORT=1883
      - DB_HOST=sentinel-db
      - DB_PORT=5432
      - DB_USER=sentinel
      - DB_PASSWORD=sentinelpassword
      - DB_NAME=sentinel_db
    depends_on:
      - broker
      - db
    networks:
      - sentinel-net


  db:
    image: postgres:16
    container_name: sentinel-db
    restart: always
    environment:
      - POSTGRES_USER=sentinel
      - POSTGRES_PASSWORD=sentinelpassword
      - POSTGRES_DB=sentinel_db
    volumes:
      - sentinel-db-data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    networks:
      - sentinel-net

volumes:
  sentinel-db-data:

networks:
  sentinel-net:
    driver: bridge
